/* Define CSS variables */
:root {
    --md-dark-color: #262626;
    --dark-color: #171717;
    --light-dark-color: #2d2f30;
    --dark-purple-color: #3f429e;
    --purple-color: #7d83f2;
    --light-purple-color: #bba5f5;
    --lighter-purple-color: #E3D9FF;
    --dark-blue-color: #0C134F;
    --blue-color: #1D267D;
    --purple: #5C469C;
    --light-purple: #D4ADFC;
    --background: #EEEEEE;
    --cancel: #9c4646;
    --forWhiteText: #fff;
    --forBlackText: #000;

    --forGreenBTN: rgb(112, 255, 148)0;
    --forGreenBG: #96ffb0;
    --forRedBG: #ff9696;
    --forBlueBG: #96c0ff;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 800;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 800;
}

/* Common styles for various elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

/* Input Text Styles */
.wrap {
    padding: 2rem 3rem;
}

.wrap .InputText {
    background: transparent;
    text-align: center;
    height: 2.2rem;
    width: 100%;
    position: relative;
    margin: 1rem 0;
}

.wrap .InputText input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    padding-bottom: 0;
    border-bottom: 0.1rem solid var(--md-dark-color);
    color: var(--dark-blue-color);
    outline: none;
}

.wrap .InputText label {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    color: var(--md-dark-color);
    pointer-events: none;
}

.wrap .InputText input:focus~label,
.wrap .InputText input:valid~label {
    transform: translateY(-1.6rem);
    transition: all 0.3s ease;
    color: var(--md-dark-color);
    outline: none;
    opacity: 0;
}

.InputText input#UserName,
.InputText input#name,
.InputText input#posName,
.overlay input#editPosName,
.topnav,
.detailsTable #nameCol,
.detailsTable #typeCol,
.overlay #editName,
.empOption option,
.typeOption option,
select {
    text-transform: capitalize;
}

.InputFile {
    padding: 20px 0;
}

input::file-selector-button {
    color: var(--forBlackText) !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px !important;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.5s;
}

input::file-selector-button:hover {
    color: var(--forWhiteText) !important;
    background-color: var(--dark-purple-color);
}

#manager:focus+label,
#manager:not(:placeholder-shown)+label,
#projectName:focus+label,
#projectName:not(:placeholder-shown)+label,
#editManager:focus+label,
#editManager:not(:placeholder-shown)+label {
    transform: translateY(-1.6rem);
    transition: all 0.3s ease;
}

/* End of Input styles */



/* Button Styles */
.update-btn,
.addBtn-btn {
    margin-top: 5rem;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.update,
.addBtn,
.cancelbtn {
    outline: none;
    border-radius: 0.1rem;
    border: none;
    background-color: #d1d5f2;
    color: #0f0c30;
    box-shadow: 0 0 1.4rem rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.6rem 6rem;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.update:hover,
.addBtn:hover {
    background-color: var(--purple);
    color: var(--forWhiteText);
}

.cancelbtn:hover {
    background-color: var(--cancel);
    color: var(--forWhiteText);
}

.add_btn,
.editbtn {
    background-color: var(--purple);
    color: var(--forWhiteText);
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.material-icons {
    font-size: 1rem;
    font-weight: bold;
}

.add_btn:hover,
.editbtn:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: 0.3s;
}

.removeBtn {
    margin-top: 2rem;
}

/* End of button styles */



/* Radio Select Styles */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    visibility: hidden;
}

.checkbox-option:checked+label,
.checkbox-option:not(:checked)+label {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 1.2rem;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    text-transform: capitalize;
    color: var(--forWhiteText);
    transition: all 0.3s linear;
}

.checkbox-option:not(:checked)+label {
    background-color: var(--dark-purple-color);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.checkbox-option:checked+label {
    background-color: var(--lighter-purple-color);
    color: var(--dark-color) !important;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.checkbox-option:not(:checked)+label::before,
.checkbox-option:checked+label::before {
    border-radius: 4px;
    background-image: linear-gradient(298deg, #D09CFB, #9CC3FB);
    z-index: -1;
    transition: all 0.5s linear;
}

.checkbox-option:not(:checked)+label:hover {
    box-shadow: rgba(116, 116, 116, 0.24) 0px 3px 8px;
}

/* End of radio styles */



/* Dropdown Select Styles */
.InputOption select {
    width: 50%;
    background-color: transparent;
    color: var(--forBlackText);
    padding: 10px 0px;
    border-radius: 0px 15px 15px 0px;
    margin-top: 1rem;
}

.InputOption option {
    font-family: "Poppins", sans-serif;
    color: #000;
    padding: 10px;
    margin-bottom: 10px;
}

/* Calendar Styles */
.ui-widget.ui-widget-content {
    border: none;
    background: var(--lighter-purple-color);
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-radius: 15px;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 0.2em 0;
    background: var(--light-purple-color);
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    transition: 0.3s;
}

/* End of selection styles */



/* Overlay Styles */
.overlay-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 50;
}

.overlay,
.editOverlay {
    z-index: 1000;
    position: fixed;
    display: none;
    width: 65%;
    top: 15%;
    right: 10%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 20px 30px;
    background-color: var(--lighter-purple-color);
}

.overlay .InputText {
    background: transparent;
    text-align: center;
    height: 2.2rem;
    width: 100%;
    position: relative;
    margin-top: 3rem;
}

.overlay .InputTextarea {
    background: transparent;
    height: 6.5rem;
    width: 100%;
    position: relative;
    margin-top: 1rem;
}

.overlay .InputText input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    padding-bottom: 0;
    border-bottom: 0.1rem solid var(--md-dark-color);
    color: var(--dark-blue-color);
    font-size: 1.2rem;
    outline: none;
}

.overlay .InputTextarea textarea {
    background-color: transparent;
    display: block;
    resize: none;
    overflow-y: auto;
    width: 100%;
    padding: 0.5rem;
}

.overlay .InputText label {
    font-size: 1.2rem;
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    color: var(--md-dark-color);
    pointer-events: none;
}

.overlay .InputText input:focus~label,
.overlay .InputText input:valid~label {
    transform: translateY(-1.6rem);
    transition: all 0.3s ease;
    color: var(--md-dark-color);
    outline: none;
    opacity: 1;
}

/* End of overlay styles */



/* Navigation Bar Styles */
/* Side Nav */
nav {
    position: sticky;
    top: 0;
    z-index: 5;
}

.topwrap {
    display: flex;
    align-items: center;
}

.topwrap img {
    width: 90px;
}

.sidenav hr {
    margin: 5px 10px;
    border: solid 1px var(--lighter-purple-color);
}

.sidenav {
    background-color: var(--forWhiteText);
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 300px;
    margin-left: 0;
    padding-left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.sidenav h3,
.sidenav h4 {
    color: var(--dark-purple-color);
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sidenav h4 {
    margin-left: 10px;
}

.sidenav ul,
.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}

.sidenav li {
    width: 300px;
}

.sidenav li a {
    display: block;
    color: var(--dark-blue-color);
    text-align: left;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}

.sidenav li a .fa {
    margin-right: 10px;
}

.sidenav li a:hover {
    background-image: linear-gradient(90deg, var(--purple), transparent);
    color: var(--forWhiteText);
    animation: move 0.5s linear;
    animation-iteration-count: 1;
    transition: 0.5s;
}

.active {
    background-image: linear-gradient(90deg, var(--purple), transparent) !important;
    color: #eee !important;
}

/* Top Nav */
.topnav {
    color: var(--forWhiteText);
    background-color: var(--purple);
    min-height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.topnav .profilepic {
    display: flex;
}

.topnav .profiletxt {
    font-size: 1.2rem;
    margin: 5px 0;
}

.topnav .dropdown {
    display: inline-block;
    position: relative;
}

.topnav button {
    background-color: transparent;
    color: var(--forWhiteText);
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
}

.topnav .dropdown-options {
    position: absolute;
    top: 110%;
    right: 0;
    overflow: hidden;
    background-color: var(--forWhiteText);
    border-radius: 5px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    z-index: 50;
}

.topnav .dropdown:hover .dropdown-options {
    max-height: 200px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.topnav .dropdown-options a {
    display: flex;
    color: #000000;
    text-decoration: none;
    padding: 10px 80px;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.topnav .dropdown-options a:hover {
    color: #0a0a23;
    background-color: #ddd;
    border-radius: 5px;
    transition: 0.3s;
}

.hid-info {
    display: none;
}

/* End of Navigation */



/* Body content */
.wrap {
    min-height: 93vh;
    background-color: var(--background);
    margin-left: 300px;
    padding: 20px;
    overflow: auto;
    padding-top: 20px;
    font-size: 18px;
    font-family: georgia, garamond, serif;
}

/* Management Style */
.topTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-block {
    padding: 10px 0px;
    color: var(--forBlackText);
    overflow-x: auto;
}

.table-block table {
    border: 2px solid var(--dark-purple-color);
    border-collapse: collapse;
    width: 100%;
}

.table-block .detailsTable th,
.table-block .detailsTable tr,
.table-block .detailsTable td {
    border: 2px solid var(--light-purple-color);
    padding: 5px 10px;
}

.detailsTable .actioncol {
    padding: 5px 0px !important;
    text-align: center;
}

.detailsTable #actioncol1 {
    border-right: none;
}

.detailsTable #actioncol2 {
    border-left: none;
}

.idCol {
    width: 13%;
    min-width: 140px;
    max-width: 140px;
}

.editbtn {
    padding: 5px 12px;
}

.search-box input {
    width: 40% !important;
    min-width: 400px;
}

.InputText.search-box {
    text-align: left;
}

/* End of Management Style */



/* Profile */
.profile-block {
    background-color: var(--purple);
    margin-top: 1rem;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: none;
}

.container h2 {
    padding: 1rem;
    font-weight: bold;
    color: var(--forWhiteText);
    text-align: center;
}

.profile-wrap {
    background-color: var(--light-dark-color);
    padding: 1rem 3rem;
}

.profile-wrap .InputText {
    margin-bottom: 3.4rem;
}

.profile-wrap .InputText input {
    border-bottom: 0.1rem solid var(--forWhiteText);
    color: var(--forWhiteText);
}

.profile-wrap .InputText label {
    color: var(--lighter-purple-color);
}

.profile-wrap .InputText input:focus~label,
.profile-wrap .InputText input:valid~label {
    transform: translateY(-1.7rem);
    transition: all 0.3s ease;
    color: var(--forWhiteText);
    outline: none;
}

.profile-wrap .option label {
    font-size: 1.2rem;
    color: var(--lighter-purple-color);
}

.forBank {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

select.bankType,
select.maritalOptions {
    width: 100%;
    color: var(--forWhiteText);
}

.bankType option {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: var(--forBlackText);
    padding: 10px;
    margin-bottom: 10px;
}

#phoneNo,
#bankNo {
    font-family: 'Times New Roman', Times, serif;
}

select.maritalOptions {
    width: 50% !important;
    float: left;
}

/* Employee */
.forEmail {
    display: flex;
}

.phoneInput {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.phoneCode {
    width: 10% !important;
}

.phoneCode input {
    text-align: center !important;
    border: none !important;
}

.constEmail {
    text-align: left !important;
}

.constEmail input {
    width: min-content !important;
}



/* Department */
.depTable .nameCol,
.depTable .depCol {
    width: 40%;
}



/* Leave */
.leaveTable .nameCol {
    width: 20%;
}

.leaveTable #typeCol,
.leaveTable #creditCol {
    text-align: center;
}

.table-block {
    min-height: 10rem !important;
}

.forDate {
    display: flex;
    gap: 5rem;
}

.forDate .InputText {
    margin-top: 10px !important;
}

.fc-direction-ltr {
    font-family: none;
}


/* Performance */
.employeeSelect_flex {
    display: flex;
    gap: 15px;
    max-height: 200px;
    overflow: auto;
}

.employeeSelect_flex .selectWrap {
    width: 100%;
}

.employeeSelect_flex .showNames #selectedEmployeeNames {
    padding: 0 20px;
}

select#employeesSelect {
    width: 100% !important;
}

#employeesSelect li {
    list-style: none;
}

.employeeSelect_flex .selectAllBtn {
    text-transform: capitalize;
    padding: 0.3rem 3rem;
    background-color: var(--light-purple);
    border-radius: 5px;
}

.employeeSelect_flex .selectAllBtn:hover {
    text-transform: capitalize;
    background-color: var(--blue-color);
}

input.checkbox-option {
    margin: 0 10px;
    transform: scale(1.2);
    outline: solid 1px var(--dark-purple-color);
}

.evaluationForm {
    max-height: 700px;
    overflow-y: auto;
}

.dyQuestion {
    margin-top: 10px !important;
}


/* Payroll */
.payrollTable #fileCol,
.payrollTable .dateCol,
#dateCol {
    text-align: center;
}

#fileCol a {
    color: var(--purple);
    text-decoration: underline solid var(--purple);
    text-underline-offset: 3px;
    padding: 2px 10px;
}

#fileCol a:hover {
    background-color: var(--dark-purple-color);
    color: var(--forWhiteText);
    transition: 0.3s;
    border-radius: 5px;
}

.forFilter {
    display: flex;
}

.forFilter .InputOption {
    width: 100%;
}



/* Apply Leave */
.leaveTable #dateCol,
#statusCol {
    text-align: center;
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
    display: none;
}

.fc .fc-toolbar-title {
    font-size: 1.2em;
    margin: 0;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
}

.fc .fc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fc .fc-scrollgrid-liquid {
    height: 90%;
    background-color: #fff;
}

#calendar {
    width: 80%;
    margin: 0 auto;
}

.projectForm {
    top: 5%;
    max-height: 900px;
    overflow-y: auto;
}

.employeeSelect_flex>div {
    border: solid 1.5px var(--purple);
    border-radius: 5px;
    padding: 5px;
}


/* FAQ / Support */
.tox-editor-header {
    background-color: var(--purple) !important;
}

.tox-promotion,
.tox-statusbar__right-container {
    display: none !important;
}



/* Setting */
.tab_btn {
    display: flex;
    justify-content: space-between;
}

.tab_btn .tablinks {
    width: 100%;
    background-color: var(--purple-color);
    padding: 0.8rem 0;
    cursor: pointer;
    border: solid 1px var(--dark-purple-color);
    text-align: center;
    font-weight: bold;

    transition: 0.3s;
}

/* Animation */
@keyframes move {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 300px 0px;
    }
}


/* Responsive (mobile) */
@media screen {}